<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-time Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
</head>
<body>
<h1>Real-time Data</h1>
<div id="data-container"></div>
<canvas id="system-metrics-chart"></canvas>


<script>
    function updateData() {
        $.getJSON("/get_latest_data", function (data) {
            if (data) {
                console.log(data);
                var content = "";
                for (var key in data) {
                    if (key === "System Metrics") {
                        content += createPieChart(data[key]);
                    } else {
                        content += createTable(key, data[key]);
                    }
                }
                $('#data-container').html(content);
            }
        });
    }

    function createTable(title, data) {
        var table = `<h2>${title}</h2><table><thead><tr>`;
        for (var key in data[0]) {
            table += `<th>${key}</th>`;
        }
        table += `</tr></thead><tbody>`;
        for (var i = 0; i < data.length; i++) {
            table += `<tr>`;
            for (var key in data[i]) {
                table += `<td>${data[i][key]}</td>`;
            }
            table += `</tr>`;
        }
        table += `</tbody></table>`;
        return table;
    }

    function createPieChart(data) {
        var ctx = document.getElementById('system-metrics-chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: Object.keys(data), // Use labels from the provided data
                datasets: [{
                    label: 'System Metrics',
                    data: Object.values(data), // Use values from the provided data
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'System Metrics'
                    }
                }
            }
        });
    }


    $(document).ready(function () {
        updateData();
        setInterval(updateData, 1000); // Update data every 1 second
    });
</script>
</body>
</html>